<!--<form class="form-horizontal">-->
  <!--<div class="control-group">-->
    <!--<label for="form-field-1" class="control-label">Text Field</label>-->

    <!--<div class="controls">-->
      <!--<input type="text" placeholder="Username" id="form-field-1">-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->
  <%= simple_form_for @user,  html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
        <%= f.error_notification %>
        <%= display_base_errors @user %>
  <% end %>

    <%= f.input :username, :autofocus => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
    <%= f.label :select_role %><br />

    <%= f.input :role_ids, :collection => Role.all, :as => :radio_buttons,
                :label_method => lambda {|t| "<span class='lbl'>".html_safe + t.name.titleize + "</span>".html_safe}, :label => false,
                #:item_wrapper_class => 'inline',
                checked: (@user.roles and @user.roles.first) ? @user.roles.first.id : Role.find_by_name(:saleStaff).id
    %>
    <!-- combobox
    <%= f.input :role_ids do %>
        <%= f.select :role_ids, Role.all.map { |r| [r.name, r.id] }, include_blank: true %>
    <% end %>
    -->

    <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
