<h1>Listing schedules</h1>

<table class="table table-hover table-condensed">
  <!--<table class="table table-striped  table-hover">-->

  <thead>
  <tr>
    <th>Start time</th>
    <th>End time</th>
    <th>Average meeting</th>
    <th>Transport</th>
    <th>Speed</th>
    <th>Hq location</th>
    <th>Ending location</th>
    <th>Created by</th>
    <th>Assigned</th>
    <th>Schedule date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
  <tbody>
<% @schedules.each do |schedule| %>
  <tr>
    <td><%= schedule.start_time %></td>
    <td><%= schedule.end_time %></td>
    <td><%= schedule.average_meeting_duration %></td>
    <td><%= schedule.transport %></td>
    <td><%= schedule.speed %></td>
    <td><%= schedule.hq_location_id %></td>
    <td><%= schedule.ending_location_id %></td>
    <td><%= schedule.own_user.username %></td>
    <td><%= schedule.assigned_id %></td>
    <td><%= schedule.schedule_date %></td>
    <td><%= link_to 'Show', schedule %></td>
    <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
    <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path,:class => 'btn btn-primary'  %>
