<h3>Choose potential clients</h3>

<!--<table class="table table-hover table-condensed">-->
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th class="center">
      <label>
        <input type="checkbox"/>
        <span class="lbl"></span>
      </label>
    </th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Country</th>
    <th>City</th>
    <th>Address</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Create_By</th>
  </tr>
  </thead>
  <tbody>
  <% clients.each do |client| %>
      <tr>
        <td class="center">
          <label>
            <%= check_box_tag 'clients[]', client.id %>
            <span class="lbl"></span>
          </label>
        </td>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.country %></td>
        <td><%= client.city %></td>
        <td><%= client.location ? client.location.address : '' %></td>
        <td><%= client.age %></td>
        <td><%= client.sex %></td>
        <td><%= client.user ? client.user.username : '' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<!--<%= raw clients.to_json(:include => {:location => { :only => [:address]}}) %>-->
<script>

    //Update checkbox controls when click on checkbox all on Header
    $('table th input:checkbox').on('click', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

    });


    //Add all clients to array to user later for collect which clients will be choose
    var js_clients_array = [];
    var js_clients_array_temp = <%= raw @clients.to_json(:include => {:location => { :only => [:address]}}) %>;

    for(var i=0;i < js_clients_array_temp.length;i++){
        js_clients_array[js_clients_array_temp[i].id] = js_clients_array_temp[i];
    }
</script>