<h3>Choose potential clients</h3>

<!--<table class="table table-hover table-condensed">-->
<table id="sample-table-1" class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th class="center">
      <label>
        <input type="checkbox"/>
        <span class="lbl"></span>
      </label>
    </th>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Country</th>
    <th>City</th>
    <th>Address</th>
    <th>Age</th>
    <th>Sex</th>
    <th>Create_By</th>
  </tr>
  </thead>
  <tbody>
  <% clients.each do |client| %>
      <tr>
        <!--<td><%= check_box_tag 'clients[]', client.location ? client.location.address : '' %></td>-->
        <td class="center">
          <label>
            <%= check_box_tag 'clients[]', client.location ? client.location.address : '' %>
            <span class="lbl"></span>
          </label>
        </td>
        <td><%= client.name %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.country %></td>
        <td><%= client.city %></td>
        <td><%= client.location ? client.location.address : '' %></td>
        <td><%= client.age %></td>
        <td><%= client.sex %></td>
        <td><%= client.user ? client.user.username : '' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br/>
<script>
    $('table th input:checkbox').on('click', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

    });
</script>