<style>
    #panel {
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
    }

        /*Fix bug Twitter Bootstrap CSS affecting Google Maps*/
    #map-canvas img {
        max-width: none;
    }
</style>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC7icpVNHCpzkJjilXkACn8VG9HlSe0u3s&sensor=false"></script>
<script>
    var geocoder;
    var map;
    //      var infowindow = new google.maps.InfoWindow();

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(<%= @client.location.latitude %>,<%= @client.location.longitude %>);
        var mapOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }


        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var marker = new google.maps.Marker({
            map: map,
            position: latlng
        });

        var infowindow = new google.maps.InfoWindow({
            content: 'Latitude: ' + <%= @client.location.latitude %> +
                    '<br>Longitude: ' + <%= @client.location.longitude %>
        });
        infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @client.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @client.email %>
</p>

<p>
  <b>Country:</b>
  <%= @client.country %>
</p>

<p>
  <b>City:</b>
  <%= @client.city %>
</p>

<p>
  <b>Address:</b>
  <%= @client.location.address %>
<div id="map-canvas" style="width:500px;height:380px;"></div>
</p>

<p>
  <b>Age:</b>
  <%= @client.age %>
</p>

<p>
  <b>Sex:</b>
  <%= @client.sex %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
